// padding컴포넌트
.sec-pd-t {
    padding: calc(rem(120) + rem(77)) 0 rem(120);

    @include media-breakpoint-down(lg) {
        padding: calc(rem(80) + rem(77)) 0 rem(80);
    }

    @include media-breakpoint-down(md) {
        padiing: calc(rem(60) + rem(77)) 0 rem(60);
    }
}

.sec-pd {
    padding: rem(120) 0;

    @include media-breakpoint-down(lg) {
        padding: rem(80) 0;
    }

    @include media-breakpoint-down(md) {
        padding: rem(60) 0;
    }
}

.m-b--xxl {
    margin-bottom: rem(120);
}


.solution-pd {
    padding: 60px 0;
}

.history-pd {
    padding: 240px 0;
}

// contact tab menu 컴포넌트
.tab-menu-custom {
    @include flex(center, center, rem(106));
    color: $grayColor02;
    @include defineFont (rem(32), 600);

    .tab-menu {
        position: relative;

        &.on {
            color: $blackColor01;
            // text-decoration: underline;
            transition: all 0.3s ease-in-out;

            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: rem(50);
                left: 50%;
                transform: translateX(-50%);
                width: rem(7);
                height: rem(7);
                border-radius: 50%;
                background-color: $blackColor01;
            }
        }

    }

    li:hover {
        color: $blackColor01;
        // text-decoration: underline;
        transition: all 0.3s ease-in-out;
    }

    @include media-breakpoint-down(lg) {
        gap: rem(65);
        @include defineFont(rem(26), 600);
    }

    @include media-breakpoint-down(lg) {

        .tab-menu {
            &.on {
                &::after {
                    bottom: rem(35);
                }
            }

        }
    }

    @include media-breakpoint-down(md) {
        gap: rem(45);
        @include defineFont(rem(22), 600);
    }
}

// faq tab-menu custom 

.faq__tab-menu {
    @include flex;
    background-color: $grayColor04;
    border-radius: rem(40);
    color: $grayColor01;
    @include defineFont(rem(22), 600);

    a {
        padding: rem(20) rem(45);
        display: block;
        border-radius: rem(40);

        &.on {
            background-color: $primaryColor01;
            color: $whiteColor01;
            // padding: 5px 20px;
        }
    }

    @include media-breakpoint-down(lg) {

        gap: rem(65);
        @include defineFont(rem(18), 600);
    }

    @include media-breakpoint-down(md) {
        gap: rem(45);
        @include defineFont(rem(16), 600);
    }

}

// field box 컴포넌트
.field-box {
    label {
        border: 1px solid $grayColor02;
        color: $grayColor02;
        border-radius: rem(30);
        padding: rem(10) rem(20);
        @include defineFont (rem(16));
    }

    input {
        border: none;
        outline: none;
        height: rem(48);

        &:active {
            border: 1px solid $blackColor02;
            color: $blackColor02;
        }

        &:focus {
            border: 1px solid $primaryColor02;
            cursor: $primaryColor02;
        }
    }

    select {
        height: rem(48);
        outline: none;
        border: none;
        width: 200px;
    }

}


.title {
    @include defineFont (rem(48), 600);
    text-align: center;

    @include media-breakpoint-down(lg) {
        @include defineFont (rem(36));
    }

    @include media-breakpoint-down(md) {
        @include defineFont (rem(26));
    }


}