* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $blackColor01;
    font-family: " Pretendard", sans-serif;
}

html {
    scroll-behavior: smooth;
}


li {
    list-style-type: none;
}

dl,
ol,
ul {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
}

input,
select,
button {
    font-family: inherit;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: 400;
}

// .card-body {
//     padding: 0;
// }s