* {
    box-sizing: border-box;
}

body {
    color: var(--black01-color);
    font-family: 'Pretendard';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
}

input,
select,
button {
    font-family: inherit;
    color: inherit;
}

.btn {
    font-size: 18px;
}

.btn-lg {
    padding: 20px 30px;
    height: 60px;
}

.btn-md {
    padding: 15px 30px;
    height: 48px;
}

.btn-sm {
    padding: 15px 30px;
    height: 44px;
}

:root {
    --primary01-color: #0097F6;
    --primary02-color: #0ED058;
    --black01-color: #111111;
    --black02-color: #3A3838;
    --white-color: #FFFFFF;
    --gray01-color: #7E7E7E;
    --gray02-color: #ADADAD;
    --gray03-color: #D9D9D9;
    --gray04-color: #EEEEEE;
    --point01-color: #191922;
    --point02-color: #3B4352;
    --gradient01-color: linear-gradient(to right, #0097F6, #0ED058);
}

.container {
    width: 1240px;
}