@font-face {
  font-family: "akira_expandedsuper_bold";
  src: url("../font/akira_expanded_demo-webfont.woff2") format("woff2"), url("../font/akira_expanded_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #111111;
  font-family: "Pretendard", sans-serif;
}

li {
  list-style-type: none;
}

dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

input,
select,
button {
  font-family: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

.container-sm {
  max-width: 393px !important;
  padding: 0 20px;
}

.container-md {
  max-width: 541px !important;
  padding: 0 20px;
}

.container-lg {
  max-width: 768px !important;
  padding: 0 20px;
}

.container-xl {
  max-width: 1030px !important;
  padding: 0 20px;
}

.container-xxl {
  max-width: 1240px !important;
  padding: 0 20px;
}

.btn {
  font-size: 18px;
  padding: 20px 30px;
  border-radius: 30px;
  border: none;
}
.btn--lg {
  padding: 20px 30px;
}
.btn--md {
  padding: 15px 30px;
  height: 48px;
}
.btn--sm {
  padding: 15px 30px;
  height: 44px;
}

.sec-pd {
  padding: 120px 0;
}

.header {
  background-color: rgba(0, 0, 0, 0.7);
  height: 77px;
  color: #ffffff;
}
.header:hover {
  background: linear-gradient(45deg, #0097F6, #0ED058);
}
.header__logo a {
  display: block;
}
.header__logo a img {
  width: 300px;
  display: block;
}

.kv {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../image/kv-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 260px 0;
}
.kv__text-wrap {
  color: #ffffff;
}
.kv__title {
  font-family: "akira_expandedsuper_bold";
}
.kv__box {
  background: linear-gradient(45deg, #0097F6, #0ED058);
  width: 100px;
  height: 70px;
  top: 0;
}
.kv__btn {
  background-color: #ffffff;
  color: #111111;
}
.kv__btn:hover {
  background-color: #0ED058;
}

.introduce__wrap .introduce__conts {
  position: relative;
  background-color: black;
  color: #ffffff;
  padding: 260px 0;
  overflow: hidden;
}
.introduce__wrap .introduce__conts .introduce__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  z-index: 0;
}
.introduce__wrap .introduce__conts .introduce__text {
  position: relative;
  z-index: 1;
}
.introduce__wrap .introduce__conts .introduce__title,
.introduce__wrap .introduce__conts .introduce__subtitle {
  margin-top: 0;
  margin-bottom: 0;
}

.solution {
  background-color: #191922;
  color: #ffffff;
}
.solution__title span {
  background: linear-gradient(45deg, #0097F6, #0ED058);
  color: transparent;
  -webkit-background-clip: text;
}
.solution__card-wrap .col .solution__card {
  background-color: #3B4352;
  color: #ffffff;
  padding: 53px 0;
}
.solution__card-wrap .col :hover {
  background-color: #0097F6;
  transition: all 0.3s ease-in-out;
}

.solution__subtitle .solution__item {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

.merit__card {
  width: 100%;
}
.merit__card img {
  width: 50%;
}
.merit__card .merit__text {
  width: 50%;
}

.merit__text h3 {
  color: #0ED058;
}

.swiper-slide {
  background: #EEEEEE;
  height: 320px;
  padding: 30px;
}

.news-btn {
  position: relative;
}
.news-btn .swiper-button-next {
  color: #ADADAD;
  position: absolute;
  right: 20%;
  border: 1px solid #ADADAD;
  border-radius: 50%;
}
.news-btn .swiper-button-prev {
  color: #ADADAD;
  position: absolute;
  top: 60%;
  right: 50px;
}

.ask {
  background: linear-gradient(45deg, #0097F6, #0ED058);
  color: #ffffff;
}
.ask .ask-btn01 {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}
.ask .ask-btn01:hover {
  background: linear-gradient(45deg, #0097F6, #0ED058);
  color: #ffffff;
  border: 2px solid transparent;
}
.ask .ask-btn02 {
  background: #ffffff;
}
.ask .ask-btn02:hover {
  background: linear-gradient(45deg, #0097F6, #0ED058);
  color: transparent;
  -webkit-background-clip: text;
  color: #ffffff;
}
.ask .ask-btn02 span {
  background: linear-gradient(45deg, #0097F6, #0ED058);
  color: transparent;
  -webkit-background-clip: text;
  color: #ffffff;
}

.footer {
  background-color: #111111;
  color: #F5F5F5;
  padding: 55px 0;
}
.footer img {
  display: block;
  width: 200px;
}