@font-face {
  font-family: "akira_expandedsuper_bold";
  src: url("akira_expanded_demo-webfont.woff2") format("woff2"), url("akira_expanded_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #111111;
  font-family: "Pretendard", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

input,
select,
button {
  font-family: inherit;
  color: inherit;
}

.btn {
  font-size: 18px;
  padding: 20px 30px;
  border-radius: 30px;
  border: none;
}
.btn--lg {
  padding: 20px 30px;
}
.btn--md {
  padding: 15px 30px;
  height: 48px;
}
.btn--sm {
  padding: 15px 30px;
  height: 44px;
}

.sec-pd {
  padding: 120px 0;
}

.header {
  background-color: #000;
  opacity: 0.7;
  height: 77px;
  color: #ffffff;
}
.header__logo a {
  display: block;
}
.header__logo a img {
  width: 300px;
}

.kv {
  height: 974px;
  background-image: url("../image/kv-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.kv__text-wrap {
  color: #ffffff;
}
.kv__title {
  font-family: "akira_expandedsuper_bold";
}
.kv__btn {
  background-color: #ffffff;
  color: #111111;
}
.kv__btn:hover {
  background-color: #0ED058;
}

.introduce__wrap .introduce__conts {
  position: relative;
  background-color: black;
  color: #ffffff;
  padding: 260px 0;
  overflow: hidden;
}
.introduce__wrap .introduce__conts .introduce__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  z-index: 0;
}
.introduce__wrap .introduce__conts .introduce__text {
  position: relative;
  z-index: 1;
}
.introduce__wrap .introduce__conts .introduce__title,
.introduce__wrap .introduce__conts .introduce__subtitle {
  margin-top: 0;
  margin-bottom: 0;
}

.solution {
  background-color: #191922;
  color: #ffffff;
}
.solution__title span {
  color: linear-gradient(to right, #0097F6, #0ED058);
}
.solution__card-wrap .col .solution__card {
  background-color: #3B4352;
  color: #ffffff;
  padding: 53px 0;
}
.solution__card-wrap .col :hover {
  background-color: #0097F6;
  transition: all 0.3s ease-in-out;
}

.solution__subtitle .solution__item {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

.merit__card {
  width: 100%;
}
.merit__card img {
  width: 50%;
}
.merit__card .merit__text {
  width: 50%;
}

.merit__text h3 {
  color: #0ED058;
}

html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  height: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.swiper-slide {
  width: 100%;
  background: #EEEEEE;
  height: 320px;
  margin-right: 20px;
  padding: 30px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ask__warp {
  background-color: linear-gradient(to right, #0097F6, #0ED058);
}