@charset "UTF-8";
@font-face {
  font-family: "akira_expandedsuper_bold";
  src: url("../font/akira_expanded_demo-webfont.woff2") format("woff2"), url("../font/akira_expanded_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #111111;
  font-family: "Pretendard", sans-serif;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

input,
select,
button {
  font-family: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

.container--sm {
  max-width: 393px !important;
  padding: 0 20px;
}

.container--md {
  max-width: 541px !important;
  padding: 0 20px;
}

.container--lg {
  max-width: 768px !important;
  padding: 0 20px;
}

.container--xl {
  max-width: 1030px !important;
  padding: 0 20px;
}

.container--xxl {
  max-width: 1240px !important;
  padding: 0 20px;
}

.sec-pd-t {
  padding: calc(7.5rem + 4.8125rem) 0 7.5rem;
}

.sec-pd {
  padding: 7.5rem 0;
}

.m-b--xxl {
  margin-bottom: 120px;
}

.kv-pd--lg {
  padding: calc(11rem + 4.8125rem) 1.25rem 11rem;
}
.kv-pd--md {
  padding: calc(12.5rem + 4.8125rem) 1.25rem 12.5rem;
}
.kv-pd--sm {
  padding: calc(10.625rem + 4.8125rem) 1.25rem 10.625rem;
}

.solution-pd {
  padding: 60px 0;
}

.history-pd {
  padding: 240px 0;
}

.tab-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 106px;
  flex-direction: row;
}

.tab-menu {
  color: #ADADAD;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0;
}
.tab-menu--lg {
  gap: 106px;
}
.tab-menu--md {
  gap: 65px;
  font-size: 26px;
}
.tab-menu--sm {
  gap: 45px;
  font-size: 22px;
}
.tab-menu:hover {
  color: #111111;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.field-box label {
  border: 1px solid #ADADAD;
  color: #ADADAD;
  border-radius: 1.875rem;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0;
}
.field-box input:active {
  border: 1px solid #3a3838;
  color: #3a3838;
}
.field-box input:focus {
  border: 1px solid #0097F6;
  cursor: #0097F6;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0;
  text-align: center;
}

.btn {
  padding: 0.9375rem 1.875rem;
  background-color: #ffffff;
  color: #111111;
  border-radius: 1.875rem;
  border: none;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0;
  display: inline-flex;
  justify-content: space-between;
  gap: 1.25rem;
  width: fit-content;
  text-align: center;
}
.btn--md {
  height: 3rem;
}
.btn--sm {
  height: 2.75rem;
}

.ask__btn01 {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-image: transparent, #ffffff;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.ask__btn01:hover {
  background-image: linear-gradient(45deg, #0ED058, #0097F6), linear-gradient(45deg, #0ED058, #0097F6);
}
.ask__btn01--md {
  height: 3rem;
}
.ask__btn01--sm {
  height: 2.75rem;
}
.ask__btn02 {
  background: #ffffff;
}
.ask__btn02 span,
.ask__btn02 p {
  background: linear-gradient(45deg, #0ED058, #0097F6);
  color: transparent;
  -webkit-background-clip: text;
}
.ask__btn02:hover {
  background: linear-gradient(45deg, #0ED058, #0097F6);
}
.ask__btn02:hover span,
.ask__btn02:hover p {
  color: #ffffff;
}
.ask__btn02 span {
  background: linear-gradient(45deg, #0ED058, #0097F6);
  color: transparent;
  -webkit-background-clip: text;
}
.ask__btn02--md {
  height: 3rem;
}
.ask__btn02--sm {
  height: 2.75rem;
}

.membership__btn {
  background: linear-gradient(45deg, #0ED058, #0097F6);
  color: transparent;
  -webkit-background-clip: text;
  background: #ffffff;
  padding: 1.25rem 5.5rem;
}
.membership__btn:hover {
  background: linear-gradient(45deg, #0ED058, #0097F6);
  color: #ffffff;
}

.inquiry__btn {
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  color: #7E7E7E;
}
.inquiry__btn:hover {
  background-color: #0097F6;
  color: #ffffff;
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  height: 4.8125rem;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.header__logo a {
  display: block;
  border: none;
}
.header__logo a img {
  width: 198px;
  display: block;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
  flex-direction: row;
  margin-right: 20px;
}
.header__menu {
  position: relative;
  z-index: 5;
}
.header__menu a {
  display: block;
  width: 140px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0;
}
.header__menu:hover {
  color: #ffffff;
  font-weight: 600;
}
.header .menu-bg {
  position: absolute;
  top: 77px;
  left: 0;
  width: 100%;
  height: 260px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
  display: none;
}
.header__sub-menu-list {
  position: absolute;
  z-index: 5;
  top: 75px;
  display: none;
}
.header__sub-menu a {
  display: block;
  padding: 15px 10px;
}
.header__sub-menu:hover a {
  font-weight: 600;
  background: linear-gradient(45deg, #0ED058, #0097F6);
  color: transparent;
  -webkit-background-clip: text;
}
.header .hamburger-btn {
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  padding: 0;
  display: none;
}
.header__nav {
  display: none;
}
.header .hamburger-btn .line {
  display: block;
  height: 3px;
  background: #ffffff;
  transition: 0.3s;
}
.header .hamburger-btn.active .line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.header .hamburger-btn.active .line:nth-child(2) {
  opacity: 0;
}
.header .hamburger-btn.active .line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 1024px) {
  .nav {
    display: none;
  }
  .hamburger-btn {
    display: flex;
  }
}
.kv {
  background: linear-gradient(to left, rgba(20, 20, 20, 0) 10%, rgba(20, 20, 20, 0.25) 25%, rgba(20, 20, 20, 0.5) 50%, rgba(20, 20, 20, 0.75) 75%, rgb(20, 20, 20) 100%), url("../image/kv-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.kv__text-wrap {
  color: #ffffff;
}
.kv__text-wrap h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0;
}
.kv__title {
  font-family: "akira_expandedsuper_bold";
  font-size: 4.375rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0;
}
.kv__title span {
  z-index: 10;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0;
}
.kv__box {
  background: linear-gradient(45deg, #0ED058, #0097F6);
  width: 6.875rem;
  height: 4.375rem;
  top: 16.25rem;
  z-index: 0;
}
.kv__btn:hover {
  background-color: #0ED058;
}

.introduce__wrap .introduce__conts {
  position: relative;
  background-color: black;
  color: #ffffff;
  padding: 16.25rem 0;
  overflow: hidden;
}
.introduce__wrap .introduce__conts .introduce__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  z-index: 0;
}
.introduce__wrap .introduce__conts .introduce__text {
  position: relative;
  z-index: 1;
  padding: 20px;
}
.introduce__wrap .introduce__conts .introduce__title,
.introduce__wrap .introduce__conts .introduce__subtitle {
  margin-top: 0;
  margin-bottom: 0;
}
.introduce__arrow {
  /* btn-motion5 */
}
.introduce__arrow .btn-motion5 {
  position: relative;
}
.introduce__arrow .btn-motion5 span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(-45deg);
  animation: btn-motion5 1.5s infinite;
  box-sizing: border-box;
}
@keyframes btn-motion5 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.solution {
  background-color: #191922;
  color: #ffffff;
}
.solution__title span {
  background: linear-gradient(45deg, #0ED058, #0097F6);
  color: transparent;
  -webkit-background-clip: text;
}
.solution .col .card {
  border-radius: 1.25rem;
  height: 240px;
  background-color: #3B4352;
  color: #ffffff;
  padding: 3.3125rem 0;
}
.solution .col .card:hover {
  background-color: #0097F6;
  transition: all 0.3s ease-in-out;
}
.solution__card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  flex-direction: column;
  position: relative;
  transition: 0.3s all ease;
}
.solution__card img {
  transition: 0.3s all ease;
}
.solution__card ul {
  opacity: 0;
  transition: 0.3s all ease;
}
.solution__card:hover {
  transform: translateY(-90px);
}
.solution__card:hover img {
  opacity: 0;
}
.solution__card:hover ul {
  opacity: 1;
}
.solution__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  flex-direction: row;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0;
}
.solution__subtitle .solution__items {
  border: 1px solid #ffffff;
  border-radius: 1.875rem;
  padding: 0.625rem 1.25rem;
  color: #ffffff;
  text-align: center;
}

.merit__card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  flex-direction: row;
  width: 100%;
}
.merit__card img {
  width: 100%;
}
.merit__text {
  width: 100%;
}
.merit__text h3 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0;
  color: #0ED058;
}
.merit__text h2 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0;
}
.merit__text p {
  font-size: 1.375rem;
  font-weight: regular;
  line-height: 1.6;
  letter-spacing: 0;
}

.preview .swiper-slide {
  background: #EEEEEE;
  height: 20rem;
  padding: 1.875rem;
}
.preview__wrap {
  position: relative;
}
.preview__card {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0px;
  flex-direction: column;
}
.preview__card h5 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.preview__card p {
  color: #ADADAD;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.preview__card span {
  color: #7E7E7E;
}
.preview__card hr {
  border: 1.5px solid #7E7E7E;
}
.preview__card:hover {
  background-color: #0ED058;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.preview__card:hover h5,
.preview__card:hover p,
.preview__card:hover hr,
.preview__card:hover span {
  color: #ffffff;
}
.preview__btn {
  position: absolute;
  right: 1.25rem;
  width: 7.5rem;
  display: flex;
  justify-content: end;
  gap: 0.9375rem;
  /* 가상요소 안 보이게 처리 */
  /* 새로 디자인 */
}
.preview__btn .swiper-button-next:after,
.preview__btn .swiper-button-prev:after {
  font-size: 1rem;
  color: #111111;
}
.preview__btn .swiper-button-next,
.preview__btn .swiper-button-prev {
  position: relative;
  top: -70px;
  margin-top: initial;
  left: initial;
  right: initial;
  background-color: #ffffff;
  color: #ADADAD;
  border: 1px solid #7E7E7E;
  border-radius: 50%;
  width: 53px;
  height: 53px;
  color: #fff;
}

.ask {
  background: linear-gradient(45deg, #0ED058, #0097F6);
  color: #ffffff;
}
.ask__title {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0;
  padding: 0 1.25rem;
}

@media (max-width: 1240px) {
  .kv {
    height: 100%;
  }
  .kv__text-wrap {
    padding: calc(9.375rem + 4.8125rem) 5rem 9.375rem;
  }
  .kv__text-wrap h3 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
  }
  .kv__title {
    font-size: 3.125rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
  }
  .kv__title span {
    font-size: 3.125rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
  }
  .kv__box {
    background: linear-gradient(45deg, #0ED058, #0097F6);
    width: 4.375rem;
    height: 3.125rem;
    top: 14.375rem;
    left: 5.625rem;
    z-index: 0;
  }
}
@media (max-width: 1024px) {
  .header .hamburger-btn {
    display: block;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
  }
  .sec-pd-t {
    padding: calc(rme(80) + 4.8125rem) 0 5rem;
  }
  .sec-pd {
    padding: 5rem 0;
  }
  .m-b--xxl {
    margin-bottom: 5rem;
  }
  .kv {
    height: 100%;
  }
  .kv__text-wrap {
    padding: calc(12.5rem + 4.8125rem) 0 12.5rem;
  }
  .kv__box {
    background: linear-gradient(45deg, #0ED058, #0097F6);
    width: 4.375rem;
    height: 3.125rem;
    top: 17.5rem;
    left: 0.75rem;
    z-index: 0;
  }
  .introduce__title {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
  }
  .introduce__subtitle {
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
  }
  .solution .row {
    padding: 0 127px;
  }
  .merit__text h3 {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0;
    color: #0ED058;
  }
  .merit__text h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0;
  }
  .merit__text p {
    font-size: 1.125rem;
    font-weight: regular;
    line-height: 1.6;
    letter-spacing: 0;
  }
  .merit__card {
    flex-direction: column-reverse;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
  }
  .ask__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0;
  }
}
@media (max-width: 541px) {
  .title {
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
  }
  .sec-pd-t {
    padding: 137px 0 60px;
  }
  .sec-pd {
    padding: 60px 0;
  }
  .m-b--xxl {
    margin-bottom: 60px;
  }
  .kv {
    height: 100%;
  }
  .kv__text-wrap {
    padding: calc(12.5rem + 4.8125rem) 0 12.5rem;
  }
  .kv__text-wrap h3 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
  }
  .kv__title {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
  }
  .kv__title span {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
  }
  .kv__box {
    width: 3.125rem;
    height: 1.875rem;
    top: 17.5rem;
    left: 0.625rem;
  }
  .solution__subtitle {
    flex-wrap: wrap;
    gap: 20px;
  }
  .solution__items {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
  }
  .solution .row {
    padding: 0 45px;
  }
  .solution-pd {
    padding: 60px 0;
  }
  .preview__btn {
    display: flex;
    justify-content: space-between;
    /* 가상요소 안 보이게 처리 */
    /* 새로 디자인 */
  }
  .preview__btn .swiper-button-next,
  .preview__btn .swiper-button-prev {
    margin-top: 0;
    left: initial;
    background-color: #ffffff;
    color: #ADADAD;
    border: 1px solid #7E7E7E;
    border-radius: 50%;
    width: 53px;
    height: 53px;
    color: #fff;
  }
  .ask__title {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0;
  }
}
.about__bg {
  background-image: url(../image/about-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__circle {
  color: #ffffff;
}
.about span {
  color: #0097F6;
}
.about img {
  margin: 0 auto;
}

.vision__wrap {
  align-items: center;
}
.vision__card {
  padding: 3.875rem 0;
  margin: 0.625rem;
  color: #ffffff;
  border-radius: 1.25rem;
}
.vision__card01 {
  background-color: #0097F6;
}
.vision__card02 {
  background-color: #0ED058;
}
.vision__card03 {
  background-color: #7E7E7E;
}
.vision__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 21.875rem;
  width: 21.875rem;
  border: 2px solid #0ED058;
  border-radius: 50%;
  background-color: #ffffff;
}
.vision__path {
  top: 4.375rem;
  right: 18.75rem;
}

.history {
  position: relative;
  padding-left: 70px;
}
.history .num {
  position: absolute;
  left: 50%;
  font-weight: 700;
}
.history__wrap h3 {
  color: #0097F6;
}

.partners .swiper {
  width: 100%;
  height: 100%;
}
.partners .swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}
.partners .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.partners__txt {
  color: #EEEEEE;
  font-size: 8rem;
  letter-spacing: 10px;
}

.news__wrap {
  position: relative;
  margin: 0 auto;
  column-gap: 3rem;
}
.news .swiper {
  width: 100%;
  padding-top: 3.125rem;
}
.news .swiper-slide {
  background-color: #F5F5F5;
  padding: 33px;
  border-radius: 30px;
  height: 470px;
}
.news .swiper-slide a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.news .swiper-slide h2 {
  color: #3a3838;
  font-size: 1.4rem;
}
.news .swiper-slide p {
  color: #3a3838;
  line-height: 1.6;
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news .swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}
.news .swiper-slide-active div {
  display: block;
  opacity: 1;
}
.news__img {
  background-image: url(../image/news-img01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
}
.news__board-wrap h5,
.news__board-wrap p {
  padding: 0.625rem 0;
  margin-left: 2.5rem;
}
.news__board-wrap h5 {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0;
}
.news__board-wrap p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0;
  color: #ADADAD;
}
.news__txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
.news__pagination {
  margin-top: 2.625rem;
}
.news__pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  flex-direction: row;
}

.membership__card-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.membership__card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
  width: 32%;
  gap: 2%;
  border: 1px solid #ADADAD;
  border-radius: 20px;
  padding: 30px;
  height: 588px;
  line-height: 2;
  word-break: keep-all;
}
.membership__card p {
  color: #7E7E7E;
}
.membership__btn {
  background: linear-gradient(45deg, #0ED058, #0097F6);
  color: transparent;
  -webkit-background-clip: text;
  background-color: #ffffff;
  border: 1px solid #ADADAD;
  border-radius: 30px;
}
.membership__bg {
  background-image: url("../image/membership-bg-grdient.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.membership__card {
  background-color: #ffffff;
}

.faq__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #EEEEEE;
  border-radius: 40px;
  color: #7E7E7E;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0;
}
.faq__menu a {
  padding: 20px 45px;
  display: block;
  border-radius: 40px;
}
.faq__menu a.on {
  background-color: #0ED058;
  color: #ffffff;
}
.faq__board {
  height: 100%;
  width: 100%;
  border: 1px solid #ADADAD;
  border-radius: 1.875rem;
  padding: 4.75rem 2.8125rem;
}
.faq__board__board-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.faq__board-conts {
  display: none;
}
.faq__search-box {
  position: relative;
}
.faq__search-box form {
  position: absolute;
  top: -5rem;
  right: 0;
}
.faq__search-box form .search-btn {
  background-color: transparent;
}
.faq__pagination p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.5;
  letter-spacing: 0;
  border-radius: 50%;
  background-color: #0ED058;
  color: #ffffff;
  width: 3.3125rem;
  height: 3.3125rem;
  text-align: center;
  margin: 0 auto;
}

.inquiry__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
}
.inquiry__left-box {
  width: 38%;
  background-color: #0097F6;
  padding: 230px 66px;
  color: #ffffff;
}
.inquiry__left-box span {
  font-family: "akira_expandedsuper_bold";
}
.inquiry__right-box {
  width: 58%;
}
.inquiry__right-box label {
  text-align: left;
}
.inquiry__right-box fieldset {
  background-color: #EEEEEE;
  padding: 30px;
  border-radius: 20px;
}
.inquiry__right-box span {
  color: #0ED058;
}
.inquiry__right-box input {
  border: none;
  padding: 16px 20px;
  border-radius: 10px;
  width: 635px;
}
.inquiry__right-box input:focus {
  border: 1px solid #0097F6;
}
.inquiry__right-box p {
  color: #7E7E7E;
}
.inquiry__right-box textarea {
  width: 635px;
  height: 380px;
  border: none;
  border-radius: 10px;
  padding: 16px 20px;
  resize: none;
}

.map {
  width: 100%;
}
.map__txt p {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.9;
  letter-spacing: 0;
}
.map__txt span {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0;
  padding-left: 30px;
}
.map .transit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.map .subway,
.map .bus {
  width: 45%;
  gap: 10%;
}
.map .subway__title,
.map .bus__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
  flex-direction: row;
}
.map .subway__title h3,
.map .bus__title h3 {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0;
}
.map .subway__conts,
.map .bus__conts {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2.6;
  letter-spacing: 0;
}
.map .subway span,
.map .bus span {
  padding: 0.3125rem 0.5rem;
  border-radius: 0.625rem;
  margin-right: 1.25rem;
}
.map .subway__conts01,
.map .bus__conts01 {
  color: #00A242;
  border: 1px solid #00A242;
}
.map .subway__conts02,
.map .bus__conts02 {
  color: #C02D2E;
  border: 1px solid #C02D2E;
}
.map .subway__conts03,
.map .bus__conts03 {
  color: #59BE0A;
  border: 1px solid #59BE0A;
}
.map .subway__conts04,
.map .bus__conts04 {
  color: #1E7BDB;
  border: 1px solid #1E7BDB;
}

.footer {
  background-color: #111111;
  color: #F5F5F5;
  padding: 5.125rem 0;
}
.footer__txt ul {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}
.footer__txt p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.footer img {
  display: block;
  width: 11.875rem;
}
.footer__sns img {
  width: 2.1875rem;
}

@media (max-width: 768px) {
  .footer__wrap {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    flex-direction: row;
    flex-direction: column-reverse;
  }
}