.about {
    &__bg {
        background-image: url(../image/about-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $whiteColor01;
    }

    &__circle {
        color: $blackColor01;
        border: 2px solid $primaryColor02;
    }
}