.about {
    &__bg {
        background-image: url(../image/about-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__circle {
        color: $whiteColor01;
    }

    span {
        color: $primaryColor01;
    }

    img {
        margin: 0 auto;
    }
}