// btn 공통 - 사이즈별
.btn {
    padding: rem(15) rem(30);
    background-color: $whiteColor01;
    color: $blackColor01;
    border-radius: rem(30);
    border: none;
    --bs-btn-font-weight: 700;
    @include defineFont (rem(18), 700);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: rem(20);

    &--md {
        height: rem(48);
    }

    &--sm {
        height: rem(44);
        font-size: rem(16);
    }
}

.ask {
    &__btn01 {
        background: transparent;
        font-size: rem(17);
        background-color: transparent;
        color: $whiteColor01;
        border: 2px solid $whiteColor01;

        &:hover {
            background: $blackColor01;
            color: $whiteColor01;
            border: 2px solid $gradientColor01;
        }

        &--md {
            background-color: $blackColor01;
            height: rem(48);
        }

        &--sm {
            height: rem(44);
        }
    }

    &__btn02 {
        background: $whiteColor01;

        span,
        p {
            @include gradient;
        }

        &:hover {
            background: $blackColor01;

            //   span,
            p {
                background-color: $blackColor01;
                color: $whiteColor01;
            }
        }

        span {
            @include gradient;
        }

        &--md {
            height: rem(48);
        }

        &--sm {
            height: rem(44);
        }
    }
}




.membership {
    &__btn {
        @include gradient;
        background: $whiteColor01;
        padding: rem(20) rem(88);

        &:hover {
            background: $gradientColor01;
            color: $whiteColor01;
        }
    }

}

.inquiry {
    &__btn {
        border-radius: 10px;
        width: 100%;
        color: $grayColor01;
        // text-align: center;

        &:hover {
            background-color: $primaryColor02;
            // coloror01;
        }
    }
}