// btn 공통 - 사이즈별
.btn {
    padding: rem(15) rem(30);
    background-color: $whiteColor01;
    color: $blackColor01;
    border-radius: rem(30);
    border: none;
    @include defineFont (rem(18), 600);
    display: inline-flex;
    gap: rem(20);
    width: fit-content;
    height: fit-content;
    text-align: center;

    // &--lg {
    //     font-size: rem(18);
    // } 라지사이즈는 이미 정의가 되어있어서 필요가없음.

    &--md {
        height: rem(48);
    }

    &--sm {
        height: rem(44);
        font-size: rem(17);
    }
}

.ask {
    &__btn01 {
        background-color: transparent;
        color: $whiteColor01;
        border: 2px solid $whiteColor01;
        background-image: transparent, $whiteColor01;
        background-origin: border-box;
        background-clip: content-box, border-box;

        &:hover {
            background-image: $gradientColor01, $gradientColor01;
        }

        &--md {
            height: rem(48);
        }

        &--sm {
            height: rem(44);
        }
    }

    &__btn02 {
        background: $whiteColor01;

        span,
        p {
            @include gradient;

        }

        &:hover {
            background: $gradientColor01;

            span,
            p {
                color: $whiteColor01;
            }
        }

        span {
            @include gradient;
        }

        &--md {
            height: rem(48);
        }

        &--sm {
            height: rem(44);
        }
    }
}


.membership {
    &__btn {
        @include gradient;
        background: $whiteColor01;
        padding: rem(20) rem(88);

        &:hover {
            background: $gradientColor01;
            color: $whiteColor01;
        }
    }

}

.inquiry {
    &__btn {
        justify-content: center;
        border-radius: 10px;
        width: 100%;
        color: $grayColor01;

        &:hover {
            background-color: $primaryColor02;
            color: $whiteColor01;
        }
    }
}