$grid-breakpoints: (
    sm: 393px,
    md: 541px,
    lg: 768px,
    xl: 1240px,
);

$container-max-widths: (
    sm: 393px,
    md: 541px,
    lg: 768px,
    xl: 1240px,
);

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
    padding-left: 20px !important;
    padding-right: 20px !important;
}


$utilities: (
    "btn-height": (property: height,
        class: btn,
        responsive: true,
        values: (sm: 2.75rem,
            md: 3rem,
            lg: auto))
);

// $container-padding-x: 20px;