$grid-breakpoints: (
    sm: 393px,
    md: 541px,
    lg: 768px,
    xl: 1240px,
);

$container-max-widths: (
    sm: 393px,
    md: 541px,
    lg: 768px,
    xl: 1240px,
);


$container-padding-x: 20px;