// padding컴포넌트
.sec-pd-t {
    padding: calc(rem(120) + rem(77)) 0 rem(120);

    @media (max-width:768px) {
        padding: calc(rem(80) + rem(77)) 0 rem(80);
    }

    @media (max-width:541px) {
        padiing: calc(rem(60) + rem(77)) 0 rem(60);
    }
}

.sec-pd {
    padding: rem(120) 0;

    @media (max-width:768px) {
        padding: rem(80) 0;
    }

    @media (max-width:541px) {
        padding: rem(60) 0;
    }
}

.m-b--xxl {
    margin-bottom: rem(120);
}


.kv-pd {
    &--lg {
        padding: calc(rem(176) + rem(77)) rem(20) rem(176);
    }

    // &--md {
    //     padding: calc(rem(200) + rem(77)) rem(20) rem(200);
    // }

    // &--sm {
    //     padding: calc(rem(170) + rem(77)) rem(20) rem(170);
    // }
}

.solution-pd {
    padding: 60px 0;
}

.history-pd {
    padding: 240px 0;
}

// tab menu 컴포넌트
.tab-menu-custom {
    @include flex(center, center, rem(106));
    color: $grayColor02;
    @include defineFont (rem(32), 600);

    // &--lg {
    //     gap: 106px;
    // }

    // &--md {
    //     gap: 65px;
    //     font-size: 26px;
    // }

    // &--sm {
    //     gap: 45px;
    //     font-size: 22px;
    // }

    li:hover {
        color: $blackColor01;
        text-decoration: underline;
        transition: all 0.3s ease-in-out;
    }

    @media (max-width: 1024px) {
        gap: rem(65);
        @include defineFont(rem(26), 600);
    }

    @media (max-width: 541px) {
        gap: rem(45);
        @include defineFont(rem(22), 600);
    }
}

// faq tab-menu custom 

.faq__tab-menu {
    @include flex;
    background-color: $grayColor04;
    border-radius: rem(40);
    color: $grayColor01;
    @include defineFont(rem(22), 600);

    a {
        padding: rem(20) rem(45);
        display: block;
        border-radius: rem(40);

        &.on {
            background-color: $primaryColor01;
            color: $whiteColor01;
            // padding: 5px 20px;
        }
    }

    @media (max-width: 768px) {

        gap: rem(65);
        @include defineFont(rem(18), 600);
    }

    @media (max-width: 541px) {
        gap: rem(45);
        @include defineFont(rem(16), 600);
    }

}

// field box 컴포넌트
.field-box {
    label {
        border: 1px solid $grayColor02;
        color: $grayColor02;
        border-radius: rem(30);
        padding: rem(10) rem(20);
        @include defineFont (rem(16));
    }

    input {
        // border: none;

        &:active {
            border: 1px solid $blackColor02;
            color: $blackColor02;
        }

        &:focus {
            border: 1px solid $primaryColor02;
            cursor: $primaryColor02;
        }
    }

}

.title {
    @include defineFont (rem(48), 600);
    text-align: center;

    @media(max-width:768px) {
        @include defineFont (rem(36));
    }

    @media(max-width:541px) {
        @include defineFont (rem(26));
    }


}