.btn {
    font-size: 18px;
}

.btn-lg {
    padding: 20px 30px;
    height: 60px;
}

.btn-md {
    padding: 15px 30px;
    height: 48px;
}

.btn-sm {
    padding: 15px 30px;
    height: 44px;
}


.container {
    width: 1240px;
}