// padding컴포넌트
.sec-pd-t {
    padding: calc(rem(120) + rem(77)) 0 rem(120);
}

.sec-pd {
    padding: rem(120) 0;
}

.m-b--xxl {
    margin-bottom: 120px;
}

.kv-pd {
    &--lg {
        padding: calc(rem(176) + rem(77)) rem(20) rem(176);
    }

    &--md {
        padding: calc(rem(200) + rem(77)) rem(20) rem(200);
    }

    &--sm {
        padding: calc(rem(170) + rem(77)) rem(20) rem(170);
    }
}

.solution-pd {
    padding: 60px 0;
}

.history-pd {
    padding: 240px 0;
}

// tab menu 컴포넌트
.tab-menu-list {
    @include flex(center, center, 106px);
}

.tab-menu {
    color: $grayColor02;
    @include defineFont (rem(32), 600);

    &--lg {
        gap: 106px;
    }

    &--md {
        gap: 65px;
        font-size: 26px;
    }

    &--sm {
        gap: 45px;
        font-size: 22px;
    }

    &:hover {
        color: $blackColor01;
        text-decoration: underline;
        transition: all 0.3s ease-in-out;
    }
}

// field box 컴포넌트
.field-box {
    label {
        border: 1px solid $grayColor02;
        color: $grayColor02;
        border-radius: rem(30);
        padding: rem(10) rem(20);
        @include defineFont (rem(16));
    }

    input {
        border: none;
    }

    &--activated {
        border: 1px solid $blackColor02;
        color: $blackColor02;
    }

    &--focus {
        border: 1px solid $primaryColor02;
    }
}

.title {
    @include defineFont (rem(48), 600);
    text-align: center;

}