// akira
@font-face {
    font-family: 'akira_expandedsuper_bold';
    src: url('../font/akira_expanded_demo-webfont.woff2') format('woff2'),
        url('../font/akira_expanded_demo-webfont.woff') format('woff'),
        url('../font/akira_expanded_demo-webfont.eot') format('eot'),
        url('../font/akira_expanded_demo-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


// Science Gothic
@font-face {
    font-family: "Science Gothic", sans-serif;
    src: url('../font/ScienceGothic-Bold.woff') format('woff'),
        url('../font/AnyConv.com__ScienceGothic-Bold.woff2') format('woff2'),
        url('../font/AnyConv.com__ScienceGothic-Bold.eot') format('eot'),
        url('../font/ScienceGothic-Bold.ttf') format('ttf');
    font-weight: 600;
    font-style: Bold;
}

@font-face {
    font-family: "Science Gothic", sans-serif;
    src: url('../font/ScienceGothic-SemiBold.woff') format('woff'),
        url('../font/AnyConv.com__ScienceGothic-SemiBold.woff2') format('woff2'),
        url('../font/AnyConv.com__ScienceGothic-SemiBold.eot') format('eot'),
        url('../font/ScienceGothic-SemiBold.ttf') format('ttf');
    font-weight: 500;
    font-style: SemiBold;
}


// Pretendard
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}