.footer {
    background-color: $blackColor01;
    color: $grayColor05;
    padding: 82px 0;

    img {
        display: block;
        width: 200px;
    }

    &__sns {
        img {
            width: 35px;
        }
    }
}