.header {
    background-color: rgba(0, 0, 0, 0.7);
    height: 77px;
    color: $whiteColor01;

    &:hover {
        background: $gradientColor01;
    }

    &__logo {
        a {
            display: block;

            img {
                width: 300px;
                display: block;
            }
        }

        nav {
            width: 800px;
            right 50%: 0;
        }
    }


}