.header {
    background-color: rgba(0, 0, 0, 0.8);
    height: rem(77);
    color: $whiteColor01;
    width: 100%;
    @include flex;

    &__wrap {
        @include flex;
        width: 100%;
    }

    &__logo {
        a {
            display: block;
            border: none;

            img {
                width: 198px;
                display: block;
            }
        }
    }

    &__menu-list {
        @include flex(space-between, center, 3%);
        margin-right: 20px;
    }

    &__menu {

        position: relative;
        z-index: 5;
        // display: none;

        a {
            display: block;
            width: 140px;
            @include defineFont(rem(18), 500);
        }

        &:hover {
            color: $whiteColor01;
            font-weight: 600;
            // @include gradient;
        }
    }



    &__sub-menu-list {
        position: absolute;
        z-index: 5;
        top: 75px;
        display: none;
    }

    &__sub-menu {
        a {
            display: block;
            // width: 200px;
            padding: 15px 10px;
        }

        &:hover a {
            font-weight: 600;
            @include gradient;
        }
    }

    .hamburger-btn {
        width: 25px;
        height: 20px;
        display: none; // 기본적으로 숨김
        background: none;
        border: none;
        height: 50px;


        .line {
            @include flex;
            height: 2px;
            background: $whiteColor01;
            transition: 0.3s;
            // position: absolute;
        }
    }


    // hamburger btn -> close btn 변경 시 애니메이션 
    .hamburger-btn.active .line:nth-child(1) {
        transform: translateY(-5px) rotate(45deg);
    }

    .hamburger-btn.active .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger-btn.active .line:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    &__nav {
        display: none;
    }

    .m-header {
        &__nav {
            display: none;
        }

        &__menu-list {
            @include flex(space-between, center, 3%);
            margin-right: 20px;
        }

        &__menu {

            position: relative;
            z-index: 5;
            // display: none;

            a {
                display: block;
                width: 140px;
                @include defineFont(rem(18), 500)
            }

            &:hover {
                color: $whiteColor01;
                font-weight: 600;
                // @include gradient;
            }
        }


        .m-menu-bg {
            width: 100%;
            height: 500px;
            color: $blackColor01;
        }

    }

    .menu-bg {
        position: absolute;
        top: 77px;
        left: 0;
        width: 100%;
        height: 260px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 4;
        display: none;
    }
}


@media (max-width: 1024px) {
    .hamburger-btn {
        display: flex;
    }

    .nav {
        display: none;
    }

    .m-header__nav {
        display: block; // 햄버거 클릭 시에만 slideToggle()으로 제어됨
        position: absolute;
        top: 77px;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.9)
    }

}