.introduce {
    // background-color: bisque;

    &__wrap {

        .introduce__conts {
            position: relative;
            background-color: black;
            color: $whiteColor01;
            padding: 260px 0;
            overflow: hidden;

            .introduce__video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover; // ✅ 영상이 꽉 차게
                opacity: 0.4; // ✅ 살짝 어둡게
                z-index: 0;

            }

            .introduce__text {
                position: relative;
                z-index: 1; // ✅ 텍스트를 비디오 위로
            }

            .introduce__title,
            .introduce__subtitle {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

}