.kv {

    background-image:
        linear-gradient(to right,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0)),
        url("../image/kv-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 260px 0;

    &__text-wrap {
        color: $whiteColor01;
    }

    &__title {
        font-family: 'akira_expandedsuper_bold';
        z-index: 5;
    }

    &__box {
        background: $gradientColor01;
        width: 100px;
        height: 70px;
        top: 0;
        z-index: -1;
    }

    &__btn {
        background-color: $whiteColor01;
        color: $blackColor01;

        &:hover {
            background-color: $primaryColor02;
        }
    }

}