.kv {
    height: 974px;
    background-image: url("../image/kv-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__text-wrap {
        color: $whiteColor01;
    }

    &__title {
        font-family: 'akira_expandedsuper_bold';
    }

    &__btn {
        background-color: $whiteColor01;
        color: $blackColor01;

        &:hover {
            background-color: $primaryColor02;
        }
    }

}