.map {
    width: 100%;

    &__txt {

        p {
            padding: 0 rem(20);
            @include defineFont(rem(26), 600, 1.9);
        }

        span {
            @include defineFont(rem(18), 400);
            padding-left: rem(50);
        }
    }

    .transit {
        padding: 0 rem(20);
        @include flex;
    }

    .subway,
    .bus {
        width: 45%;
        gap: 10%;

        &__title {
            @include flex(flex-start, center, rem(40));

            h3 {
                @include defineFont(rem(22), 500);
            }
        }

        &__conts {
            @include defineFont(rem(18), 400, 2.6);
        }

        span {
            padding: rem(5) rem(8);
            border-radius: rem(10);
            margin-right: rem(20);
        }

        &__conts01 {
            color: #00A242;
            border: 1px solid #00A242;
        }

        &__conts02 {
            color: #C02D2E;
            border: 1px solid #C02D2E;
        }

        &__conts03 {
            color: #59BE0A;
            border: 1px solid #59BE0A;
        }

        &__conts04 {
            color: #1E7BDB;
            border: 1px solid #1E7BDB;
        }
    }
}

@media (max-width:768px) {
    .map {
        .transit {
            flex-direction: column;
            gap: rem(30);
        }

        .subway,
        .bus {
            width: 100%;
        }

    }
}

@media (max-width:540px) {
    .map {
        &__txt {

            p {
                padding: 0;
                font-size: rem(18);
            }

            span {
                padding-left: rem(20);
                font-size: rem(16);
            }
        }

        .transit {
            padding: 0;

            h3 {
                font-size: rem(18);
            }

            p {
                font-size: rem(16);
            }
        }
    }
}