.membership {
    &__card-wrap {

        --bs-gutter-x: 1.5rem; // 가로 간격 32px
        --bs-gutter-y: 1.5rem; // 세로 간격 32px
        // padding: 0 10%;

    }

    &__card {
        @include flex(center, center, 0px, column);
        // width: 32%;
        // gap: 2%;
        border: 1px solid $grayColor02;
        border-radius: rem(20);
        padding: rem(30);
        height: rem(588);
        // height: 100%;
        line-height: 2.0;
        word-break: keep-all;
        background-color: $whiteColor01;



        &:hover {
            border: 1.5px solid $primaryColor01;
            transition: all 0.3s ease-in-out;
        }

        .plan {
            color: $grayColor01;
            font-size: rem(22);
            margin-block-start: 0;
            margin-block-end: 0;
        }

        h4 {
            @include defineFont (rem(32), 600);
        }
    }

    &__card-txt {

        li {
            @include flex(flex-start, center, rem(10));
            font-size: rem(18);
        }
    }

    &__btn {
        @include gradient;
        border: 1px solid $grayColor02;
    }

    &__bg {
        background-image: url("../image/membership-bg-grdient.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

@media (max-width: 1240px) {
    .membership {
        &__card-wrap {
            padding: 0 20%;
        }
    }
}

@media (max-width: 768px) {
    .membership {
        &__card-wrap {
            padding: 0 20px;
        }
    }
}

@media (max-width: 541px) {
    .membership {
        &__card-txt {
            font-size: rem(16);
        }

        &__card {
            height: 100%;
            padding: rem(40) rem(20);

            .plan {
                @include defineFont (rem(16), 600);
            }

            p {
                @include defineFont (rem(16), 400, 2.0);
            }

            h4 {
                @include defineFont (rem(22), 600);
            }
        }
    }
}