.membership {
    &__card-wrap {
        @include flex;
    }

    &__card {
        @include flex(center, center, 0px, column);
        width: 32%;
        gap: 2%;
        border: 1px solid $grayColor02;
        border-radius: 20px;
        padding: 30px;
        height: 588px;
        line-height: 2.0;
        word-break: keep-all;

        p {
            color: $grayColor01;
        }
    }

    &__btn {
        @include gradient;
        background-color: $whiteColor01;
        border: 1px solid $grayColor02;
        border-radius: 30px;
    }

    &__bg {
        background-image: url("../image/membership-bg-grdient.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__card {
        background-color: $whiteColor01;
    }
}