.merit {
    &__card {
        width: 100%;
    }

    img {
        width: 50%;
    }

    &__text {
        width: 50%;
    }

    &__text {
        h3 {
            color: $primaryColor02;
        }
    }
}