.news {
    &__wrap {
        position: relative;
        // width: calc(min(90rem, 90%));
        margin: 0 auto;
        // min-height: 100vh;
        column-gap: 3rem;
        // padding-block: min(20vh, 3rem);
    }

    // .newsSwiper {
    //     width: 100%;
    //     height: 100%;
    // }

    .swiper {
        width: 100%;
        padding-top: 3.125rem;
    }

    .swiper-slide {
        background-color: $grayColor05;
        // padding: rem(50);
        border-radius: rem(30);
        // width: 1050px;
        // height: 28.125rem;
        // height: rem(470);
    }

    .swiper-slide a {
        @include flex;
        // display: block;
    }

    .swiper-slide h2 {
        color: $blackColor02;
        // font-size: 1.4rem;
    }

    .swiper-slide p {
        color: $blackColor02;
        // line-height: 1.6;
        // font-size: 0.75rem;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .swiper-slide div {
        display: none;
        opacity: 0;
        padding-bottom: 0.625rem;
    }

    .swiper-slide-active div {
        display: block;
        opacity: 1;
    }

    &__img {
        background-image: url(../image/news-img01.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // padding: 24%;
        height: rem(500);
        border-top-left-radius: rem(30);
        border-bottom-left-radius: rem(30);
        width: 500%;
    }

    &__board-wrap {

        h5,
        p {
            padding: rem(10) 0;
            margin: 0 rem(40);
        }

        h5 {
            @include defineFont (rem(22), 600);
        }

        p {
            @include defineFont (rem(16), 600);
            color: $grayColor02;
        }
    }

    &__txt {
        // @include flex(space-between, space-between, 0, column);
        display: flex;
        padding: rem(30);

        h2 {
            @include defineFont (rem(32), 600);
        }

        span {
            @include defineFont (rem(16));
            color: $grayColor02;

        }

        span,
        p {
            @include defineFont (rem(16));
        }
    }

    &__pagination {
        margin-top: rem(42);

        ul {
            @include flex(center, center, rem(30));
        }
    }


}

@media (max-width: 768px) {
    .news {



        &__board-wrap {

            h5,
            p {
                margin: 0 rem(20);
            }

            h5 {
                @include defineFont (rem(18), 600);
            }

        }

    }
}