* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $blackColor01;
    font-family: 'Pretendard', sans-serif;
}

li {
    list-style-type: none;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
}


a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
}

input,
select,
button {
    font-family: inherit;
    color: inherit;
}