.solution {
    background-color: $pointColor01;
    color: $whiteColor01;

    &__wrap {

        &__card-wrap {

            &__card {
                background-color: $pointColor02;
                color: $whiteColor01;
            }
        }
    }
}