.solution {
    background-color: $pointColor01;
    color: $whiteColor01;

    &__card-wrap {

        &__card {

            .solution__card {
                background-color: $pointColor02;
                color: $whiteColor01;

            }
        }
    }

}