// color변수
$primaryColor01: #0097F6;
$primaryColor02: #0ED058;
$blackColor01: #111111;
$blackColor02: #3a3838;
$grayColor01: #7E7E7E;
$grayColor02: #ADADAD;
$grayColor03: #D9D9D9;
$grayColor04: #EEEEEE;
$whiteColor01: #ffffff;
$pointColor01: #191922;
$pointColor02: #3B4352;
$gradientColor01: linear-gradient(45deg, $primaryColor01, $primaryColor02);