.vision {

    &__wrap {
        align-items: center;
    }

    &__card {
        padding: 62px 0;
        margin: 10px;
        color: $whiteColor01;
        border-radius: 20px;
    }

    &__card01 {
        background-color: $primaryColor01;
    }

    &__card02 {
        background-color: $primaryColor02;
    }

    &__card03 {
        background-color: $grayColor01;
    }

    &__circle {
        height: 350px;
        width: 350px;
        // line-height: 350px;
        border: 2px solid $primaryColor02;
        border-radius: 50%;
        background-color: $whiteColor01;
        // transform: translate(10%, 30%);
    }


    &__path {
        top: 70px;
        right: 300px;
    }

}