// btn 공통 - 사이즈별
.btn {
    padding: rem(15) rem(30);
    background-color: $whiteColor01;
    color: $blackColor01;
    border-radius: rem(30);
    border: none;
    // --bs-btn-font-weight: 700;
    font-weight: 700 !important;
    font-size: rem(18);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: rem(20);

    // 중간 화면에서 md 크기
    @media (max-width: 1024px) {
        height: rem(48);
        font-size: rem(18);
        padding: rem(15) rem(30);
    }

    // 작은 화면에서 sm 크기
    @media (max-width: 541px) {
        height: rem(44);
        font-size: rem(16);
        padding: rem(12) rem(25);
    }
}

.kv {
    &__btn {
        position: absolute;
        left: 0;
        width: auto;
        // margin-top: rem(40);

        &:hover {
            background-color: $primaryColor01;
        }

        @media (max-width: 768px) {
            // position: static;
            margin-top: rem(20);
        }
    }
}

.ask {
    &__btn01 {
        background: transparent;
        background-color: transparent;
        color: $whiteColor01;
        border: 2px solid $whiteColor01;

        &:hover {
            background: $blackColor01;
            color: $whiteColor01;
            border: 2px solid $gradientColor01;
        }

        // &--md {
        //     background-color: $blackColor01;
        //     height: rem(48);
        // }

        // &--sm {
        //     height: rem(44);
        // }
    }

    &__btn02 {
        background: $whiteColor01;

        span,
        p {
            @include gradient;
        }

        &:hover {
            background: $blackColor01;

            p {
                background-color: $blackColor01;
                color: $whiteColor01;
            }
        }

        span {
            @include gradient;
        }

        // &--md {
        //     height: rem(48);
        // }

        // &--sm {
        //     height: rem(44);
        // }
    }
}


.membership {
    &__btn {
        @include gradient;
        background: $whiteColor01;
        padding: rem(20) rem(88);

        &:hover {
            background: $gradientColor01;
            color: $whiteColor01;
        }
    }

}

.inquiry {
    &__btn {
        border-radius: 10px;
        width: 100%;
        color: $grayColor01;
        // text-align: center;

        &:hover {
            background-color: $primaryColor02;
            color: $whiteColor01;
        }
    }
}

.news {
    &__new-btn {

        &::after {
            content: 'new';
            background-color: $primaryColor01;
            color: $whiteColor01;
            @include defineFont(rem(14), 600);
            padding: rem(2) rem(4);
            border-radius: rem(5);
            // width: rem(34);
            // height: rem(16);
            display: inline-block;
        }
    }
}