.footer {

    &__txt {
        // width: 80%;

        ul {
            @include defineFont (rem(18));
            @include flex(flex-start, center, 20px);
        }

        p {
            @include defineFont (rem(16));
        }
    }

    .footer-logo {
        margin-left: rem(-15)
    }

    &__wrap {
        @include flex;
    }

    background-color: $blackColor01;
    color: $grayColor05;
    padding: rem(82) 0;

    img {
        display: block;
        width: rem(190);
    }

    &__sns {
        img {
            width: rem(35);
        }
    }
}

@media (max-width:768px) {

    .footer {
        &__wrap {
            @include flex(center, stretch, 20px);
            flex-direction: column-reverse;
        }
    }
}