.header {
    background-color: rgba(0, 0, 0, 0.9);
    height: rem(77);
    color: $whiteColor01;
    width: 100%;
    @include flex;

    &__wrap {
        @include flex;
        width: 100%;
    }

    &__logo {
        a {
            display: block;
            border: none;

            img {
                object-fit: cover;
                // width: 120px;
                height: 50px;
                display: block;
            }
        }
    }

    &__menu-list {
        @include flex(space-between, center, 3%);
        margin-right: 20px;
    }

    &__menu {

        position: relative;
        z-index: 5;
        // display: none;

        a {
            display: block;
            width: 140px;
            @include defineFont(rem(18), 500);
        }

        &:hover {
            color: $whiteColor01;
            font-weight: 600;
            // @include gradient;
        }
    }


    &__sub-menu-list {
        position: absolute;
        z-index: 5;
        top: 75px;
        display: none;
    }

    &__sub-menu {
        a {
            display: block;
            // width: 200px;
            padding: 15px 10px;
        }

        &:hover a {
            font-weight: 600;
            @include gradient;
        }
    }


    // hamburget-btn
    .hamburger-btn {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        height: 20px; // 50px → 20px로 줄임
        display: none;
        flex-direction: column;
        justify-content: space-between; // space-around → space-between
        background: none;
        border: none;
        padding: 0; // padding 제거


        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: $whiteColor01;
            transition: 0.3s;
        }
    }


    // hamburger btn -> close btn 변경 시 애니메이션 
    .hamburger-btn.active .line:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger-btn.active .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger-btn.active .line:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    &__nav {
        display: none;
    }


    // mobile header
    .m-header {
        &__nav {
            display: none;
            position: absolute;
            top: rem(77);
            right: 0;
            width: 70vw;
            background: #000;
            height: calc(100vh - rem(77));
            z-index: 10;
            color: $whiteColor01;
        }

        &__menu-list {
            @include flex(center, stretch, rem(20), column);
            height: 100%;
        }

        &__menu {
            @include defineFont(rem(22), 500);
            // position: relative;
            z-index: 5;


            &:hover>a {
                @include gradient;
                font-weight: 600;
            }

            a {
                display: block;
                padding: 0 rem(50);
                @include defineFont(rem(22), 500, 2.0);
                text-align: right;
            }

            .line {
                height: 1.5px;
                background-color: $whiteColor01;
                width: 100%;
            }

        }

        &__sub-menu-list {
            display: none;
            width: 100%;
        }

        &__sub-menu {
            @include defineFont(rem(22), 500);

            &:hover {
                @include gradient;
                font-weight: 600;
            }
        }
    }

    // .bg-line {
    //     height: rem(1);
    //     background-color: $grayColor05;
    //     opacity: 0.5;
    //     width: 100%;
    //     position: fixed;
    //     top: rem(77);
    // }


    .menu-bg {
        position: absolute;
        top: rem(77);
        left: 0;
        width: 100%;
        height: rem(230);
        background-color: $blackColor01;
        z-index: 4;
        display: none;
    }


    @media (max-width: 1024px) {
        .hamburger-btn {
            display: flex;
        }

        .nav {
            display: none;
        }
    }
}