// gradient 텍스트
@mixin gradient {
    background: $gradientColor01;
    color: transparent;
    -webkit-background-clip: text;
}

// font size를 rem으로 변환 
@function rem($size) {
    $size : calc($size / 16);
    // $size : math.div($size / 16);
    @return #{$size}rem;
}

// display:flex mixin
@mixin flex($justifyContent: space-between, $alignItems: center, $gap: null, $flexDirection: row) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    gap: $gap;
    flex-direction: $flexDirection;
}

// font size mixin
@mixin defineFont($size: null, $weight: 400, $lineHeight: 1.3, $letterSpacing: 0) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}

@mixin media($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

@mixin bgSet ($imgPath, $position: center, $size: cover, $repeat: no-repeat) {
    background-image: url(#{$imgPath});
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
}