// kv section ==============================================
.kv {
    background: linear-gradient(to left,
            rgba(20, 20, 20, 0) 10%,
            rgba(20, 20, 20, 0.25) 25%,
            rgba(20, 20, 20, 0.5) 50%,
            rgba(20, 20, 20, 0.75) 75%,
            rgba(20, 20, 20, 1) 100%),
        url("/assets/image/kv-bg02.png");
    height: 100vh;
    @include flex(center, flex-start, 0, column);
    @include bgImg();

    &__text-wrap {
        color: $whiteColor01;
        height: 100%;
        width: 100%;
        @include flex(center, flex-start, rem(20), column);

        .line {
            width: 100%;
            height: rem(70);
            position: relative;
            overflow: hidden;

            .ai,
            .kv__title {
                font-family: "Science Gothic";
                @include defineFont (rem(70), 600);
            }

            h3 {
                // margin-top: rem(20);
                @include defineFont (rem(32));
            }

            .ai,
            .kv__title,
            h3 {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .ai {
        position: relative;
        z-index: 10;
        display: inline-block;

        // ai 뒤에 그라데이션 박스
        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            z-index: -1;
            left: 0;
            top: rem(20);
            background: $gradientColor01;
            height: 75%;
            width: rem(85);
        }
    }

    &__title {
        font-family: "Science Gothic";
        @include defineFont (rem(60), 600);

        span {
            @include defineFont (rem(80));
        }
    }

    &__btn {
        p {
            font-weight: 700;
        }
    }
}


// introduce section ==========================================
.introduce {

    width: 100%;
    height: 100%;
    position: relative;
    @include flex(center);

    &__conts {
        position: relative;
        background-color: black;
        color: $whiteColor01;
        padding: rem(240) 0;
        overflow: hidden;
    }

    &__video {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.4;
        z-index: 0;
    }

    &__title {
        @include defineFont (rem(48), 600);
    }

    &__subtitle {
        @include defineFont (rem(32), 600);
        padding-top: rem(30);
    }

    &__text {
        position: relative;
        z-index: 1;
        padding: 0 rem(20);
    }

    &__arrow {

        /* btn-motion5 */
        .btn-motion5 {
            position: relative;
        }

        .btn-motion5 span {
            position: absolute;
            top: 0;
            left: 50%;
            width: 24px;
            height: 24px;
            margin-left: -12px;
            border-left: 2px solid $blackColor01;
            border-bottom: 2px solid $blackColor01;
            transform: rotate(-45deg);
            animation: btn-motion5 1.5s infinite;
            box-sizing: border-box;
        }

        @keyframes btn-motion5 {
            0% {
                transform: rotate(-45deg) translate(0, 0);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                transform: rotate(-45deg) translate(-20px, 20px);
                opacity: 0;
            }
        }
    }
}

// solution section 
.solution {
    background-color: $pointColor01;
    color: $whiteColor01;

    &__title {
        margin-bottom: rem(40);

        span {
            @include gradient;
        }
    }

    &__subtitle {
        margin-bottom: rem(40);
        @include flex(center, center, 5%);
        @include defineFont(rem(26));

        .solution__items {
            border: 1px solid $whiteColor01;
            border-radius: rem(30);
            padding: rem(10) rem(20);
            color: $whiteColor01;
            text-align: center;
        }

        .solution__arrow {
            list-style: none;
            line-height: 0;

            img {
                display: block;
            }
        }
    }

    &__card-wrap {
        --bs-gutter-x: 1.5rem; // 가로 간격 32px
        --bs-gutter-y: 1.5rem; // 세로 간격 32px
        padding: 0 10%;
    }

    .col {
        .card {
            border-radius: rem(20);
            height: rem(240);
            background-color: $pointColor02;
            color: $whiteColor01;
            padding: rem(53) 0;

            &:hover {
                background-color: $primaryColor02;
                transition: all 0.3s ease-in-out;
            }
        }
    }


    &__card {
        @include flex(center, center, 5%, column);
        // position: relative;
        transition: 0.3s all ease;

        img {
            transition: 0.3s all ease;
        }

        ul {
            opacity: 0;
            transition: 0.3s all ease;
        }

        &:hover {
            transform: translateY(-90px);

            img {
                // display: none;
                opacity: 0;
            }

            ul {
                opacity: 1;
            }

            .card-text {
                @include defineFont(rem(32), 600);
            }
        }

        .card-text {
            @include defineFont(rem(32));
        }
    }
}


// merit section ==============================================
.merit {

    &__card-wrap {
        display: flex;
        justify-content: space-around;
        height: calc(100% - rem(77));
    }

    &__txt-wrap {
        width: 450px;
    }

    .txt {
        width: 100%;
        height: 100vh;
        padding: 10vh 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .card-num {
            @include defineFont(rem(30), 600);
            color: $primaryColor01;
        }

        .card-title {
            @include defineFont(rem(36), 600);
        }

        .card-conts {
            @include defineFont(rem(22), 400, 1.6);
        }

    }

    .txt01 {
        opacity: 1;
    }

    .txt02,
    .txt03,
    .txt04,
    .txt05 {
        opacity: 0;
    }

    .img-container {
        position: sticky;
        top: 0;
        width: 50%;
        height: 100%;
        // max-width: 600px;
    }

    &__img-wrap {
        border-radius: rem(20);
        position: relative;
        margin: 15vh 0 5vh;
        width: 100%;
        height: 80vh;
        overflow: hidden;
    }

    .img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: auto; // cover할 경우 이미지가 줄어들어서 올라감
        background-repeat: no-repeat;
    }

    .img01 {
        background-image: url("/assets/image/merit-card01.jpg");
        z-index: 5;
    }

    .img02 {
        background-image: url("/assets/image/merit-card02.jpg");
        z-index: 4;
    }

    .img03 {
        background-image: url("/assets/image/merit-card03.jpg");
        z-index: 3;
    }

    .img04 {
        background-image: url("/assets/image/merit-card04.jpg");
        z-index: 2;
    }

    .img05 {
        background-image: url("/assets/image/merit-card05.jpg");
        z-index: 1;
    }

}



// preview section =============================================
.preview {
    // background-color: $whiteColor01;

    .swiper-slide {
        // width: 50%;
        background: $grayColor04;
        height: rem(320);
        padding: rem(30);
    }

    &__wrap {
        position: relative;
    }

    &__card {
        @include flex(space-between, stretch, 0px, column);
        position: relative;

        h3 {
            @include defineFont (rem(20), 600);
            @include lineClamp2;
        }

        p {
            color: $grayColor02;
            @include lineClamp2;
        }

        span {
            color: $grayColor01;
        }

        hr {
            border: 1.5px solid $grayColor01;
        }

        &:hover {
            background-color: $primaryColor01;
            color: $whiteColor01;
            transition: all 0.3s ease-in-out;

            h5,
            p,
            hr,
            span {
                transition: all 0.3s ease-in-out;
                color: $whiteColor01;
            }

            .preview__direct-btn {
                vertical-align: center;
                display: block;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    &__direct-btn {
        position: absolute;
        width: rem(53);
        height: rem(53);
        border-radius: 50%;
        background-color: $blackColor01;
        color: $whiteColor01;
        text-align: center;
        line-height: 1.6;
        font-size: 32px;
        display: none;
        right: rem(20);
        bottom: rem(20);
    }

    &__btn {
        position: absolute;
        right: rem(20);
        width: rem(120);
        @include flex(flex-end, center, rem(15));

        /* 가상요소 안 보이게 처리 */
        .swiper-button-next:after,
        .swiper-button-prev:after {
            font-size: rem(16);
            color: $blackColor01;
        }

        /* 새로 디자인 */
        .swiper-button-next,
        .swiper-button-prev {
            position: relative;
            top: rem(-70);
            margin-top: initial;
            left: initial;
            right: initial;
            background-color: $whiteColor01;
            color: $grayColor02;
            border: 1px solid $grayColor01;
            border-radius: 50%;
            width: rem(53);
            height: rem(53);
            color: #fff;

        }
    }
}


// ask section ===============================================
.ask {
    background: $gradientColor01;
    color: $whiteColor01;
    position: relative;

    // 도트 패턴 배경
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle, rgba(255, 255, 255, 0.281) 1px, transparent 1px);
        background-size: 20px 20px;
        pointer-events: none;
        z-index: 0;
    }


    .typing-container {
        width: max-content;
        margin: 0 auto;
    }

    .typing-line {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        border-right: .15em solid $whiteColor01;
        @include defineFont(rem(36), 600);
        /* CSS animation 제거 - JS(GSAP)에서만 제어 */
    }
}

@include media-breakpoint-down('xl') {

    // kv 영역
    .kv {
        height: 80vh;

        &__text-wrap {
            padding: 0 rem(80);
            gap: 0;

            .line {

                // padding: -50px;


                h3 {
                    @include defineFont(rem(28));
                }

                .ai {
                    @include defineFont (rem(50), 600);

                    &::after {
                        top: rem(15);
                        height: 52%;
                        width: rem(62);
                    }
                }

                .kv__title {
                    @include defineFont (rem(50), 600);
                }
            }

        }

        &__title {
            @include defineFont(rem(50), 600);
        }
    }
}

@media (max-width: 1024px) {
    .solution {
        &__card-wrap {
            padding: 0;
        }
    }
}

@include media-breakpoint-down('lg') {

    // 공통영역
    .title {
        @include defineFont (rem(36), 700);
    }

    .sec-pd-t {
        padding: calc(rme(80) + rem(77)) 0 rem(80);
    }

    .sec-pd {
        padding: rem(80) 0;
    }

    .m-b--xxl {
        margin-bottom: rem(80);
    }


    // kv영역
    .kv {
        &__text-wrap {
            padding: calc(rem(150) + rem(77)) 0 rem(150);
        }
    }

    // introduce 영역   
    .introduce {
        &__conts {
            width: 100%;
            height: 100%;
            // padding: 0;
        }

        &__video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__title {
            @include defineFont(rem(36), 600);
            word-break: keep-all;
        }

        &__subtitle {
            @include defineFont(rem(26), 600);
            word-break: keep-all;
        }
    }

    // solution 영역
    .solution {
        &__subtitle {
            gap: 2%;
        }

        &__items {
            @include defineFont(rem(22));
        }

    }

    // merit 영역
    .merit {

        .txt {
            justify-content: flex-start;

            .txt-inner {
                .card-num {
                    @include defineFont(rem(22), 600);
                    color: $primaryColor01;
                }

                .card-title {
                    @include defineFont(rem(28), 600);
                }

                .card-conts {
                    @include defineFont(rem(18), 400, 1.6);
                }
            }
        }

        &__card-wrap {
            flex-direction: column-reverse;

            .img-container {
                width: 100%;
                height: 60vh;
                margin: 10vh 0;
            }
        }

        &__img-wrap {
            margin: 10vh 0;
            height: 40vh;

            .img {
                background-size: cover;
            }
        }
    }

    // preview 영역
    .preview {
        margin-top: rem(80);
    }

    // ask 영역

    .ask {
        .typing-line {
            @include defineFont(rem(22), 600);
        }
    }
}

@include media-breakpoint-down('md') {

    // 공통 영역
    .title {
        @include defineFont (rem(26), 700);
    }

    .sec-pd-t {
        padding: calc(60px + 77px) 0 60px;
    }

    .sec-pd {
        padding: 60px 0;
    }

    .m-b--xxl {
        margin-bottom: 60px;
    }

    // kv영역
    .kv {
        // height: auto;

        &__text-wrap {
            gap: 0;

            .line {
                height: rem(50);

                h3 {
                    @include defineFont(rem(18));
                    // margin-top: rem(10);
                }

                .ai {
                    @include defineFont(rem(32), 600);
                    z-index: 5;

                    &::after {
                        top: rem(8);
                        height: 48%;
                        width: rem(42);
                    }
                }

                .kv__title {
                    @include defineFont(rem(32), 600);
                    margin-bottom: 0;
                }
            }
        }
    }

    //introduce 영역

    .introduce {

        &__conts {
            padding: rem(150) 0;
        }

        &__title {
            @include defineFont (rem(22), 600);

        }

        &__subtitle {
            @include defineFont (rem(18), 600);
        }

    }

    // solution 영역
    .solution {

        &__title {
            margin-bottom: rem(30);
        }

        &__subtitle {
            @include flex(center, center, 1%);
            margin-bottom: rem(30);

            // flex-wrap: wrap;

            .solution__items {
                @include defineFont (rem(18));
                padding: rem(6) rem(10);
            }
        }

        &__card {
            transform: translateY(-90px);

            img {
                opacity: 0;
            }

            ul {
                opacity: 1;
            }

            .card-text {
                @include defineFont(rem(22), 600);
                transition: 0.3s all ease;
            }

            &:hover {
                .card-text {
                    @include defineFont(rem(22), 600);
                }
            }
        }

        &__card-wrap {
            padding: 0;
        }

        .card-text {
            @include defineFont(rem(22))
        }

        .solution-pd {
            padding: 60px 0;
        }
    }


    // merit 영역 
    .merit {

        .txt-inner {
            .card-title {
                @include defineFont(rem(22), 600);
            }

            .card-conts {
                @include defineFont(rem(16), 400, 1.6);
            }
        }
    }

}