.membership {
    &__card-wrap {
        --bs-gutter-x: 1rem;
        --bs-gutter-y: 1rem;
        gap: 2%;
    }

    &__card {
        @include flex(center, center, 0px, column);
        width: 32%;
        gap: 2%;
        border: 1px solid $grayColor02;
        border-radius: rem(20);
        padding: rem(30);
        height: rem(588);
        // height: 100%;
        line-height: 2.0;
        word-break: keep-all;
        background-color: $whiteColor01;

        &:hover {
            border: 1.5px solid $primaryColor01;
            transition: all 0.3s ease-in-out;
        }

        .plan {
            color: $grayColor01;
            font-size: rem(22);
            margin-block-start: 0;
            margin-block-end: 0;
        }

        h4 {
            @include defineFont (rem(32), 600);
        }
    }

    &__card-txt {

        li {
            @include flex(flex-start, stretch, rem(10));
            font-size: rem(48);
        }
    }

    &__btn {
        // @include gradient;
        // border: 1px solid $grayColor02;
        position: absolute;
        top: 200px;
    }

    &__bg {
        background: url("../image/membership-bg-grdient.png");
        @include bgImg();
    }

}

@include media-breakpoint-down('xl') {
    .membership {
        &__card-wrap {
            padding: 0 20%;
            gap: 0;
        }

        &__card {
            width: 100%;
        }

        &__bg {
            background-size: contain;
            background-position: bottom;
        }
    }
}

@include media-breakpoint-down('lg') {
    .membership {
        &__card-wrap {
            padding: 0 20px;
        }
    }
}

@include media-breakpoint-down('md') {
    .membership {
        &__card-txt {
            font-size: rem(16);

            li {
                @include flex(flex-start, flex-start, rem(10));
                font-size: rem(18);
            }

            img {
                margin-top: rem(5)
            }
        }

        &__card {
            height: 100%;
            padding: rem(60) rem(20);

            .plan {
                @include defineFont (rem(16), 600);
            }

            p {
                @include defineFont (rem(16), 400, 2.0);
            }

            h4 {
                @include defineFont (rem(22), 600);
            }
        }
    }
}