// about section
.about {
    &__bg {
        @include bgImg();
        background-image: url(../image/about-bg.jpg);
    }

    //=====================================

    &__title,
    &__txt>p:first-child,
    &__text-wrap,
    &__txt>p:last-child,
    img {
        opacity: 0;
        transform: translateY(30px);
    }

    //=====================================

    &__circle {
        color: $whiteColor01;
    }

    &__txt {
        p {
            @include defineFont (rem(32));
        }

        .line p {
            color: $primaryColor02;
            @include defineFont (rem(36), 600, 1.8);
        }

    }


    img {
        margin: 0 auto;
    }


    .pinned {
        // height: 100vh;
        width: 100%;
        @include flex(center, center);
        position: relative;
    }


    &__txt {
        margin-top: rem(20);
    }

    .line {
        font-size: 2rem;
        margin: rem(10) 0;
        opacity: 0;
        transform: translateY(20px);
    }

}


// vision section 
.vision {

    &__wrap {
        align-items: center;
    }

    &__card-wrap {
        width: 50%;
    }

    &__card {
        padding: rem(62) 0;
        margin: rem(10) 0;
        color: $whiteColor01;
        border-radius: rem(20);
        @include defineFont (rem(26));
    }

    &__card01 {
        background-color: $primaryColor02;
    }

    &__card02 {
        background-color: $primaryColor01;
    }

    &__card03 {
        background-color: $grayColor01;
    }

    &__circle {
        @include flex(center);
        height: rem(350);
        width: rem(350);
        // line-height: 350px;
        border: 2px solid $primaryColor01;
        border-radius: 50%;
        background-color: $whiteColor01;
        // transform: translate(10%, 30%);
    }

    &__circle-txt {
        p {
            @include defineFont (rem(26));
        }

        span {
            @include defineFont (rem(32), 700);
        }
    }


    &__path {
        top: rem(70);
        right: rem(300);
    }

}

// history section 
.history {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    // padding-left: rem(70);
    background-image: url(/asset/image/history-bg01.png), url(/asset/image/history-bg02.png);
    background-position: left rem(50) top rem(100), right rem(100) bottom rem(50);
    background-repeat: no-repeat;
    background-attachment: fixed, fixed;
    // background-size: auto, auto;
    background-size: 500px auto, 400px auto;


    .num {
        font-weight: 700;
        line-height: 2.0;
    }

    .txt-wrap {
        line-height: 2.0;
    }

    &__wrap {
        width: 100%;
        display: flex;
        // =================================
        position: relative;
        width: 100%;
        height: 100%;
        // height: 400vh;
        // ================================
    }



    &__left-wrap {
        width: 30%;
        // max-height: 100vh;
        // ==================================
        // position: sticky;
        // top: 0;
        // width: 100%;
        height: 100%;
        // ==================================
    }

    &__left {
        // ==================================;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        // height: 100vh;
        display: flex;
        flex-direction: column;
        // ==================================
        height: 80vh;
    }

    .left02 {
        opacity: 0;
    }

    .left03 {
        opacity: 0;
    }

    .left04 {
        opacity: 0;
    }


    &__year {
        @include defineFont(rem(48), 700);
        color: $primaryColor02;
    }

    &__conts {
        @include defineFont(rem(22), 600);
    }

    &__right-wrap {
        @include flex (flex-start, flex-start, rem(120), column);
        width: 70%;
    }

    &__right {
        @include defineFont(rem(22));
        @include flex(flex-start, flex-start, rem(30), column);
        width: 100%;
        height: 80vh;
    }

    &__right-txt {
        @include flex(flex-start, flex-start, rem(40));
    }
}


// partners section 
.partners {
    background-color: $whiteColor01;

    .swiper {
        width: 100%;
        height: 100%;

        .swiper-wrapper {
            transition-timing-function: linear !important;
            align-items: center;
        }
    }

    .swiper-slide {
        // text-align: center;
        // font-size: 18px;
        // background: #444;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__txt {
        color: $grayColor04;
        @include defineFont (rem(112), 600, 1.2, rem(5));

    }
}

@include media-breakpoint-down('xl') {
    .history {
        background-position: left 0 top rem(50), right rem(50) bottom rem(50);
        // background-size: auto, auto;
        background-size: 400px auto, 350px auto;
    }
}


@include media-breakpoint-down('lg') {

    .about {
        &__txt {
            p {
                @include defineFont (rem(18));
            }

            .line p {
                color: $primaryColor02;
                font-size: rem(22) !important;
                line-height: 1.0 !important;
                // @include defineFont (rem(22), 600, 1.8);
            }
        }
    }

    .vision {
        &__circle-txt {
            p {
                @include defineFont (rem(22));
            }

            span {
                @include defineFont (rem(26), 700);
            }
        }

        &__card {
            @include defineFont (rem(22));
        }

        &__path {
            display: none;
        }

        &__wrap {
            flex-direction: column-reverse;
        }

        &__card-wrap {
            width: 90%;
        }
    }

    .history {


        &__title {
            background-color: $whiteColor01;
            padding: 200px;
            width: 200px;
            height: 200px;
        }

        &__wrap {
            flex-direction: column;
        }


        &__year {
            @include defineFont(rem(36), 700);
        }

        &__left-wrap {
            width: 100%;
            height: rem(110);
            padding: 20px;
            background-color: $whiteColor01;
        }


        &__left {
            width: 100%;
            height: 100%;
        }

        &__right {
            width: 100%;
            gap: rem(10);
        }

        &__right-wrap {
            width: 100%;
        }

        &__right-txt {
            word-break: keep-all;
            width: 100%;
        }
    }

    .partners {
        &__txt {
            @include defineFont (rem(80), 600, 1.2, rem(5));
        }
    }

}


@include media-breakpoint-down('md') {
    .about {
        &__text-wrap {
            .line {
                height: rem(50);
            }
        }
    }

    .vision {
        &__circle {
            height: rem(250);
            width: rem(250);
        }

        &__circle-txt {
            p {
                @include defineFont (rem(18), 400, 1.5);
            }

            span {
                @include defineFont (rem(22), 700);
            }
        }

        &__card-wrap {
            width: 100%;
        }
    }

    .history {

        &__year {
            @include defineFont(rem(26), 700);
        }

        &__conts {
            @include defineFont(rem(18), 600);
        }

        &__left-wrap {
            height: 100%
        }

        &__left {
            padding: rem(20) 0;
        }

        &__right-wrap {
            width: 100%;
            margin-left: 0;
        }

        &__right-txt {
            // flex-wrap: wrap;
            word-break: keep-all;
            width: 100%;

            .num-wrap {
                @include defineFont(rem(16), 600);
            }

            .txt-wrap {
                @include defineFont(rem(16), 400, 1.8);
            }
        }
    }

    .partners {
        &__txt {
            @include defineFont (rem(40), 600, 1.2, rem(5));
        }
    }

}