// about section
.about {
    &__bg {
        background-image: url(../image/about-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__circle {
        color: $whiteColor01;
    }

    &__txt {
        p {
            @include defineFont (rem(32));
        }

        .line p {
            color: $primaryColor02;
            @include defineFont (rem(36), 600, 1.8);
        }

    }

    // &__text-wrap {
    //     height: 100%;
    //     width: 100%;
    //     // display: flex;
    //     // flex-direction: column;
    //     // justify-content: center;
    //     // align-items: center;


    //     .line {
    //         width: 80%;
    //         height: 70px;
    //         position: relative;
    //         overflow: hidden;

    //         p {
    //             position: absolute;
    //             text-align: center;
    //         }

    //     }
    // }


    img {
        margin: 0 auto;
    }


    .pinned {
        // height: 100vh;
        width: 100%;
        @include flex(center, center);
        position: relative;
    }


    &__txt {
        margin-top: 20px;
    }

    .line {
        font-size: 2rem;
        margin: 10px 0;
        opacity: 0;
        transform: translateY(20px);
    }

}


// vision section 
.vision {

    &__wrap {
        align-items: center;
    }

    &__card-wrap {
        width: 50%;
    }

    &__card {
        padding: rem(62) 0;
        margin: rem(10) 0;
        color: $whiteColor01;
        border-radius: rem(20);
        @include defineFont (rem(26));
    }

    &__card01 {
        background-color: $primaryColor02;
    }

    &__card02 {
        background-color: $primaryColor01;
    }

    &__card03 {
        background-color: $grayColor01;
    }

    &__circle {
        @include flex(center);
        height: rem(350);
        width: rem(350);
        // line-height: 350px;
        border: 2px solid $primaryColor01;
        border-radius: 50%;
        background-color: $whiteColor01;
        // transform: translate(10%, 30%);
    }

    &__circle-txt {
        p {
            @include defineFont (rem(26));
        }

        span {
            @include defineFont (rem(32), 700);
        }
    }


    &__path {
        top: rem(70);
        right: rem(300);
    }

}

// history section 
.history {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    // padding-left: rem(70);
    background-image: url(/asset/image/history-bg01.png), url(/asset/image/history-bg02.png);
    background-position: left 100px top 150px, right 0 bottom 100px;
    background-repeat: no-repeat;
    background-attachment: fixed, fixed;
    background-size: auto, auto;

    .num {
        font-weight: 700;
        line-height: 2.0;
    }

    .txt-wrap {
        line-height: 2.0;
    }

    &__wrap {
        // max-width: 64rem; // Tailwind 기준 5xl = 64rem = 1024px
        // margin-left: auto;
        // margin-right: auto;
        width: 100%;
        display: flex;
        // padding-top: 5rem;
        // padding-bottom: 5rem;
    }

    &__left-wrap {
        width: 30%;
        // max-height: 100vh;

        h3 {
            @include defineFont(rem(48), 700);
            color: $primaryColor02;
        }

        h5 {
            @include defineFont(rem(22), 600);
        }
    }

    &__right-wrap {
        @include flex (flex-start, flex-start, rem(120), column);
        width: 70%;
        // margin-top: 4rem;
        // padding: 1rem;
        // font-size: 1.5rem;
        // line-height: 2rem;
    }

    &__right {
        @include defineFont(rem(22));
        @include flex(flex-start, flex-start, rem(30), column);
        width: 100%;

    }

    &__right-txt {
        @include flex(flex-start, flex-start, rem(40));
    }



    // &__bg01 {
    //     position: relative;
    //     z-index: -1;

    //     img {
    //         position: fixed;
    //         top: rem(100);
    //         left: rem(150);
    //         z-index: -1;
    //         pointer-events: none;
    //     }
    // }

    // &__bg02 {
    //     position: relative;
    //     z-index: -1;

    //     img {
    //         position: fixed;
    //         bottom: 0;
    //         right: rem(100);
    //         z-index: -1;
    //         pointer-events: none;
    //     }
    // }

    // &__grid {
    //     display: grid;
    //     grid-template-rows: 1fr 1fr;
    //     grid-template-columns: 1fr 2fr;
    //     padding: rem(50) rem(20);
    // }

    // &__left {
    //     position: sticky;
    //     top: rem(200); // 화면 상단으로부터의 거리
    //     height: fit-content;
    // }


}




// partners section 
.partners {
    background-color: $whiteColor01;

    .swiper {
        width: 100%;
        height: 100%;

        .swiper-wrapper {
            transition-timing-function: linear !important;
            align-items: center;
        }
    }

    .swiper-slide {
        // text-align: center;
        // font-size: 18px;
        // background: #444;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__txt {
        color: $grayColor04;
        @include defineFont (rem(112), 600, 1.2, rem(5));

    }

}

@media (max-width:1240px) {
    .history {
        &__bg01 {
            img {
                left: 0;
                width: rem(500);

            }
        }

        &__bg02 {
            img {
                right: 0;
                width: rem(400);

            }
        }
    }
}


@media (max-width:1024px) {
    .vision {
        &__path {
            display: none;
        }

        &__wrap {
            flex-direction: column-reverse;
        }

        &__card-wrap {
            width: 90%;
        }
    }

    .history {
        &__bg01 {
            img {
                left: 0;
                top: 0;
                width: rem(400);
                top: rem(100);
                left: rem(20);
            }
        }

        &__bg02 {
            img {
                right: 0;
                bottom: 0;
                width: rem(350);
                bottom: rem(50);
                right: rem(20);
            }
        }
    }

    .partners {
        &__txt {
            @include defineFont (rem(80), 600, 1.2, rem(5));
        }
    }

}

@media (max-width:768px) {
    .about {
        &__txt {
            p {
                @include defineFont (rem(18));
            }

            .line p {
                color: $primaryColor02;
                font-size: rem(22) !important;
                line-height: 1.0 !important;
                // @include defineFont (rem(22), 600, 1.8);
            }
        }
    }

    .vision {
        &__circle-txt {
            p {
                @include defineFont (rem(22));
            }

            span {
                @include defineFont (rem(26), 700);
            }
        }

        &__card {
            @include defineFont (rem(22));
        }
    }

    .history {
        &__bg01 {
            img {
                left: 0;
                top: 0;
                width: rem(400);
                top: rem(100);
                left: rem(20);
            }
        }

        &__bg02 {
            img {
                right: 0;
                bottom: 0;
                width: rem(300);
                bottom: rem(100);
                right: rem(20);
            }
        }

        &__grid {
            grid-template-columns: 1fr;
            margin: rem(50) 0;
            grid-template-rows: 1fr;
            gap: rem(40);
        }

        &__wrap {
            flex-direction: column;
            flex-wrap: wrap;
        }

        &__left {
            position: static;
        }

        &__right {
            width: 100%;
            gap: rem(10);
        }

        &__right-txt {
            word-break: keep-all;
            width: 100%;
        }
    }

    .partners {
        &__txt {
            @include defineFont (rem(40), 600, 1.2, rem(5));
        }
    }
}



@media (max-width:541px) {
    .about {
        &__text-wrap {
            .line {
                height: rem(50);
            }
        }
    }

    .vision {
        &__circle {
            height: rem(250);
            width: rem(250);
        }

        &__circle-txt {
            p {
                @include defineFont (rem(18), 400, 1.5);
            }

            span {
                @include defineFont (rem(22), 700);
            }
        }

        &__card-wrap {
            width: 100%;
        }
    }

    .history {

        &__right-wrap {
            width: 100%;
            margin-left: 0;
        }

        &__right-txt {
            // flex-wrap: wrap;
            word-break: keep-all;
            width: 100%;

            .num-wrap {
                @include defineFont(rem(16), 600);
            }

            .txt-wrap {
                @include defineFont(rem(16), 400, 1.8);
            }
        }
    }

}

@media (max-width:393px) {
    .vision {}
}