.faq {
    &__tab-menu {
        @include flex(space-between, center);
        background-color: $grayColor04;
        // border-radius: rem(40);
        color: $grayColor01;
        @include defineFont(rem(22), 600);
        // flex-wrap: wrap;
        text-align: center;

        // ↓ 아래 추가
        overflow-x: auto; // 가로 스크롤 활성화
        overflow-y: hidden; // 세로 스크롤 제거
        scroll-behavior: smooth; // 부드러운 스크롤
        white-space: nowrap; // 탭 줄바꿈 방지
        flex-wrap: nowrap; // flex-wrap: wrap 제거하고 nowrap으로 변경
    }

    &__menu {
        // width: 100%;
        flex-shrink: 0;

        a {
            display: block;
            padding: rem(20) rem(30);
        }

        &.on {
            border-radius: rem(40);
            background-color: $primaryColor01;
            color: $whiteColor01;
            transition: all 0.3s ease-in-out;
        }
    }

    &__search-box {
        position: relative;

        form {
            // float: right;
            position: absolute;
            top: rem(-80);
            right: 0;
        }

        .search-btn {
            background-color: transparent;
        }

        select {
            display: flex;
            align-items: center;
        }

    }

    &__board {

        height: 100%;
        width: 100%;
        border: 1px solid $grayColor02;
        border-radius: rem(30);
        padding: rem(70);

        .faq__board02,
        .faq__board03,
        .faq__board04,
        .faq__board05 {
            display: none;
        }

        hr {
            // margin: 0;
            border: 1px solid $grayColor01;
        }

    }

    &__board-list {
        li {
            &.on {
                color: $primaryColor01;
            }

        }
    }

    /* 기본 아이콘 스타일 */
    &__board-title {
        width: 100%;
        @include flex(space-between, center, 5%);


        h5 {
            @include defineFont (rem(18), 600);
            padding: rem(30) 0;

        }

        .line {
            width: rem(20);
            height: rem(2);
            background-color: $blackColor02;
        }

        .faq-icon {
            position: relative;
            width: 18px;
            height: 18px;
            transition: transform 0.35s ease;
            display: inline-block;
        }

        .faq-icon::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: #333;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        .faq-icon::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 100%;
            background: #333;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: opacity 0.35s ease;
        }
    }


    &__board-conts {
        display: none;
        padding: rem(20);
        // background-color: $grayColor05;
        @include defineFont (rem(16), 400);
        color: $grayColor01;
    }


    &__pagination {
        a {
            display: block;
            @include defineFont (rem(20), 500, 2.5);
            border-radius: 50%;
            background-color: $primaryColor01;
            color: $whiteColor01;
            width: rem(53);
            height: rem(53);
            text-align: center;
            margin: 0 auto;
        }
    }

}

.faq__board-title.active .faq-icon {
    transform: rotate(0deg);
}

.faq__board-title.active .faq-icon::after {
    opacity: 0;
}


@include media-breakpoint-down('xl') {
    .faq {
        &__tab-menu {
            @include defineFont (rem(18), 600);
            flex-wrap: nowrap;
            overflow-x: auto;
            white-space: nowrap;
            gap: rem(15);

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__menu {
            a {
                display: block;
            }
        }
    }
}

@include media-breakpoint-down('lg') {
    .faq {
        &__tab-menu {
            background-color: $whiteColor01;
            margin-bottom: rem(120);

            label {
                height: rem(50);
            }

            input {
                height: rem(50);
            }
        }

        &__menu {
            background-color: $grayColor04;
            width: fit-content;
            border-radius: rem(40);
            color: $grayColor01;

            a {
                padding: rem(12) rem(25);
            }
        }

        &__board {
            padding: rem(40) rem(40);
        }
    }
}

@include media-breakpoint-down('md') {
    .faq {
        &__board-title {
            h5 {
                @include defineFont (rem(16), 600);
            }
        }

    }
}