.inquiry {
    &__wrap {
        @include flex(space-between, flex-start);
    }

    &__left-box {
        width: 38%;
        background-color: $primaryColor02;
        padding: rem(230) rem(60);
        color: $whiteColor01;
        @include defineFont (rem(22), 600);
        word-break: keep-all;

        span {
            font-family: 'Science Gothic';
            @include defineFont (rem(26), 600);
        }
    }

    &__right-box {
        width: 58%;

        label {
            display: block;
            width: 100%;
            @include defineFont (rem(18), 600)
        }

        fieldset {
            background-color: $grayColor04;
            padding: rem(30);
            border-radius: rem(20);
            @include flex(flex-start, center, 0, column);
        }

        span {
            color: $primaryColor01;
        }

        .input-txt {
            border: none;
            padding: rem(16) rem(20);
            border-radius: rem(10);
            width: 100%;
        }


        .checkbox {
            span {
                color: $grayColor01;
                @include defineFont (rem(16), 400);
            }
        }

        textarea {
            width: 100%;
            height: rem(380);
            border: none;
            border-radius: rem(10);
            padding: rem(16) rem(20);
            resize: none;
        }
    }
}


@media (max-width:1024px) {
    .inquiry {
        &__wrap {
            @include flex(center, center, 2%, column);
        }

        &__left-box {
            width: 100%;
            height: auto;
            padding: rem(170) rem(60);
        }

        &__right-box {
            width: 100%;
        }
    }
}


@media (max-width:768px) {

    .inquiry {

        &__right-box {
            fieldset {
                --bs-gutter-x: 1.5rem;
                --bs-gutter-y: 1.5rem;
            }
        }
    }
}

@media (max-width:541px) {
    .inquiry {
        &__left-box {
            padding: rem(110) rem(40);

            span {
                @include defineFont (rem(22), 600);
            }

            p {
                @include defineFont (rem(18), 400);
            }
        }

        &__right-box {

            fieldset {
                padding: rem(20);
            }
        }

    }
}